body {
    background-color: whitesmoke;
    padding: 0;
    font-family: sans-serif;
    line-height: 1.5;
    font-size: 16px;
}
/* header */
.hero {
    padding: 2% 0%;
    background-color: blue;
    color: whitesmoke;
   
}

h1 {
    color: white;
    font-weight: 700;
}

h3 {
    color: black;
    font-weight: 700;
    font-size: 20px;
}

h2,


h5,
h6 {
    font-weight: 700;
    margin: 0;
    
    line-height: 1.25;
}

/* main content */
main {
    margin: 20px auto;
    width: 94%;
    margin:0;
}

p {
    font-size: 10px;
}

.btn {
    background-color: blue;
    color: white;
}
/* search element */
.form-label {
    font-weight: 700;
    padding: 5px;
}

/* current weather */
.currentContainer {
    padding: 35px;
   
}

.city-container {
    width: 80%;
}

.container{
    padding-left: 0;
}

.row {

    padding: 10px;
}


/* 5 day forecast */
#fiveDay {
padding-right: 30px;

}


/* each column in 5 day forecast */
.column {
    padding:5px;
  
    margin: 10px;
    background-color: blue;
    color: white;
    bottom: 10px;
    border-radius: 10px;
}

.card {

    width: 80%;
}

#city-form {

padding:10px;
}

/* for adding and removing class from uv index */
.favorable {
    background-color: rgb(34,139,34);
}

.moderate {
    background-color: rgb(255,255,51);
}

.severe {
    background-color: rgb(255,0,0);
}

